/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mb-0{
    margin-bottom: 0px !important;
}

.py-2{
    padding-top: 10px;
    padding-bottom: 10px;
}
